/*rm or rem 使用*/
html {
  font-size: 62.5%;
}

header {
  font-size: 1.6rem;
}

h1 {
  font-size: 1rem;
}

/*--------------------------------------------
case1. 子セレクタ
指定した要素の直属の子要素に対してスタイルを設定する
---------------------------------------------*/
.sample3_1 section > p {
  color: tomato;
}

/*--------------------------------------------
case2. 隣接セレクタ
指定した要素に隣接するセレクタに対してスタイルを設定
---------------------------------------------*/
.sample3_2 h2 + p {
  color: tomato;
}

/*--------------------------------------------
case3. 属性セレクタ
HTML要素の属性に対してスタイルを設定
---------------------------------------------*/
.sample3_3 h2 ~ p {
  color: tomato;
}

/*--------------------------------------------
case4. 最初/最後のセレクタ
要素の一番最初/一番最後の要素に対してセレクタを設定
---------------------------------------------*/
.sample3_4 input[type="text"] {
  border: 1px solid tomato;
}

.sample3_4 a[href^="http"] {
  color: tomato;
}

/*--------------------------------------------
case5. 擬似クラス an+b番目の要素
an+b番目の要素に対してセレクタを指定する
偶数/奇数に対して色を変更する
---------------------------------------------*/
.sample3_5 li:first-child {
  color: tomato;
}

.sample3_5 li:last-child {
  color: skyblue;
}

/*--------------------------------------------
case6. 擬似クラス an+b番目の要素
an+b番目の要素に対してセレクタを指定する
チャレンジ パターンを3パターンに変更する
---------------------------------------------*/
.sample3_6 li:nth-child(even) {
  color: tomato;
}

/*--------------------------------------------
case7. 擬似クラス an+b番目の要素 2
an+b番目の要素に対してセレクタを指定する
違う要素が途中で入った場合、要素の番号が飛んでしまう場合
:nth-of-type()を使用してスタイルを変更する
---------------------------------------------*/
.sample3_7 li:nth-child(3n) {
  color: purple;
}

.sample3_7 li:nth-child(3n + 1) {
  color: skyblue;
}

.sample3_7 li:nth-child(3n + 2) {
  color: tomato;
}

.sample3_8 p:nth-of-type(3n) {
  color: purple;
}

.sample3_8 p:nth-of-type(3n + 1) {
  color: skyblue;
}

.sample3_8 p:nth-of-type(3n + 2) {
  color: tomato;
}
