/*
case1.opacity
画像に対して不透明度の設定を行う。
*/
.sample4_1 {
  background: #333;
}

.sample4_1 > section > p {
  /* visibility: hidden; */
  /* opacity: 0.5; */
  color: rgba(255, 255, 255, 0.5);
}

/* .sample4_1 > section > p > img {
  visibility: hidden;
  opacity: 0.5;
  color: #fff;
} */
/*img opacity100% = 50%*/

/*
case2.background-image
1つの要素に対して複数の画像の設定を行う。
複数の画像を設置する場合、各画像に対して
位置指定なども行う事に注意
*/

.sample4_2 .imgWrap {
  width: 230px;
  height: 230px;
  margin: 20px auto;
  background-image: url(../img/sample4_background_img.png),
    url(../img/sample4_background_top.jpg),
    url(../img/sample4_background_middle.jpg),
    url(../img/sample4_background_bottom.jpg);
  background-position: center center, center top, center center, center bottom;
}

/*
case3.background-size
背景画像のサイズを変更する。
*/
.sample4_3 {
  border: solid 1px tomato !important;
  background-image: url(../img/01_ad_img.jpg);
  background-position: center center;
  background-size: cover;
}

/*
case4.box-shadow / text-shadow
ドロップシャドウの設定。
文字と要素でプロパティ名が違うので注意
*/
.sample4_4 .shadowWrap {
  padding: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 25%);
}
.sample4_4 h3 {
  font-size: 1.8rem;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 25%);
}

/*
case5.border-radius
ボーダーのエッジの設定（角丸）
*/
.sample4_5 .radiusWrap {
  width: 250px;
  height: 250px;
}
.sample4_5 img {
  border-radius: 50%;
}

/*
case6.linear-gradient
グラデーションの設定
*/
.sample4_6 {
  height: 300px;
  background-image: linear-gradient(-60deg, tomato 15%, skyblue);
}
