/*
case1. flexの設定
flexBoxWrapクラスにflexコンテナの設定を行う
*/

.sample6_1 .flexBox {
  padding: 20px;
  font-size: 1.6em;
}
.sample6_1 .flexBoxWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*
case2. flexの配置設定
設定したflexコンテナの配置方法を変更する
*/

.sample6_2 .flexBox {
  padding: 20px;
  font-size: 1.6em;
}
.sample6_2 .flexBoxWrap {
  height: 300px;
  border: solid 1px #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/*
case3. flexの折返し設定
設定したflexコンテナの折返し設定を行う
*/

.sample6_3 .flexBox {
  padding: 20px;
  font-size: 1.6em;
  width: 300px;
}
.sample6_3 .flexBoxWrap {
  display: flex;
  flex-wrap: wrap;
}

/*
case4. flexアイテムの設定
flexアイテム（子）に対して設定を行う
*/

.sample6_4 .flexBoxWrap {
  display: flex;
  height: 300px;
  flex-wrap: wrap;
}
/* .sample6_4 .flexBox:nth-child(1) {
  order: 4;
}
.sample6_4 .flexBox:nth-child(2) {
  order: 3;
}
.sample6_4 .flexBox:nth-child(3) {
  order: 2;
}
.sample6_4 .flexBox:nth-child(4) {
  order: 1;
}
.sample6_4 .flexBox:nth-child(5) {
  order: 0;
} */

.sample6_4 .flexBox {
  padding: 20px;
  font-size: 1.6em;
  flex-basis: 150px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 300px;
}
.sample6_4 .flexBox:first-child {
  /* order: 1;
  flex-grow: 2; */
}
.sample6_4 .flexBox:last-child {
  /* order: -1;
  flex-shrink: 0; */
}
