html {
  font-size: 62.5%;
  font-family: BlinkMacSystemFont, "Helvetica Neue", sans-serif, serif;
}

header {
  padding: 1rem;
  background-color: #333;
}

header h1 {
  color: #fff;
  font-size: 2rem;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
  animation: 25s mainAnime infinite;
}

@keyframes mainAnime {
  0% {
    background: #8de0e3;
  }
  20% {
    background: #e3b28d;
  }
  40% {
    background: #e38d8d;
  }
  60% {
    background: #e3e38d;
  }
  80% {
    background: #ae8de3;
  }
  100% {
    background: #e3dd8d;
  }
}

h2 {
  font-size: 16rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

/*btn style*/
.btnWrap {
  display: flex;
}

.btnBase {
  width: 50%;
  height: 400px;
  background-color: #ff6347;
}

.btnBase:last-child {
  background-color: #87ceeb;
  transition: background-color 0.5s;
}

.btnBase:last-child:hover {
  background-color: #d687eb;
}

.btnBase a {
  width: 530px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 170px auto;
  border: #fff 1px solid;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s;
}

.btnBase a:hover {
  background-color: #fff;
  color: #ff6347;
}

.btnBase:last-child a {
  /* border: solid 2px #333; */
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.btnBase:last-child a:hover {
  letter-spacing: 1em;
  color: #fff;
  background: none;
}

.btnBase:last-child a::after {
  content: "";
  background-image: url(../img/03_iconArrow.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  transition: right 0.3s;
}

.btnBase:last-child a:hover::after {
  right: 25px;
}

/*profile style*/
section:nth-child(2) {
  margin: 2rem 0;
  border: #333 1px dotted;
  margin: 20px 20px 0 20px;
  padding: 20px 0 40px 0;
}

section:nth-child(2) h3 {
  padding: 2rem 0 2rem 2rem;
  font-size: 1.5rem;
}

.profileBox {
  width: 26rem;
  margin-left: 2.4rem;
  border: #efefef 1px solid;
  height: 40rem;
  border-radius: 0.8rem;
  transition: 0.5s ease 0.25s;
}

.profileBox:hover {
  box-shadow: 4px 4px 5px rgba(80, 80, 80, 25%);
}

.cardImgWrap {
  position: relative;
  width: 26rem;
  height: 20rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

.kidsImg {
  position: absolute;
  top: 120px;
  left: 90px;
  bottom: 15px;
  z-index: 10;
  display: flex;
  width: 8rem;
  height: 8rem;
  background: url(../img/04_img_kids.png) center center / cover;
  border-radius: 100%;
}

.profileImg {
  height: 18rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background: url(../img/04_img_bk.png) center bottom / cover;
}

.cardinnerWrap h4 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0 2.5rem 0;
}

.cardinnerWrap p {
  font-size: 1.2rem;
  margin: 0 2rem 5.4rem 2rem;
}

section:nth-child(3) h3 {
  padding: 2rem 0 2rem 2rem;
  font-size: 1.5rem;
}

/*3D style*/

.mainBoxWrap {
  height: 700px;
  margin: 20px 20px 0 20px;
  border: dotted 1px #333;
}

.boxWrap {
  width: 400px;
  height: 400px;
  position: relative;
  top: 100px;
  left: 150px;
  transition: 1s ease-in-out;
  transform-origin: center center;
  transform-style: preserve-3d;
  animation: 15s infinite anime3d;
  /* transform: rotateY(30deg) rotateX(30deg); */
}

@keyframes anime3d {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.boxWrap div {
  width: 400px;
  height: 400px;
  position: absolute;
  margin: auto;
}

.box {
  text-align: center;
  line-height: 330px;
  background: no-repeat url(../img/sample4_background_img.png) center center /
    200px 200px;
  border: solid 1px #333;
  color: #fff;
  font-size: 1.8rem;
}

.front {
  /* border: solid 1px #1abc9c; */
  transform: translateX(0) translateY(0) translateZ(150px);
  transform-origin: center center;
}

.right {
  /* border: solid 1px #e74c3c; */
  transform-origin: center center;
  transform: translateX(200px) translateZ(-50px) rotateY(90deg);
}

.back {
  /* border: solid 1px #ae8de3; */
  transform-origin: center center;
  transform: translateX(0) translateZ(-250px) rotateZ(0);
}

.left {
  /* border: solid 1px #e3dd8d; */
  transform-origin: center center;
  transform: translateX(-200px) translateZ(-50px) rotateY(-90deg);
}

.top {
  /* border: #d687eb solid 1px; */
  transform: translateZ(150px) rotateX(-90deg);
  transition: 1s ease-in 0.25s;
  transform-origin: top;
  /* background-color: #87ceeb; */
}

.boxWrap:hover .top {
  transform: translateZ(150px) rotateX(-300deg);
}

.bottom {
  /* border: solid 1px #87ceeb; */
  transform-origin: center center;
  transform: translateY(200px) translateZ(-50px) rotateX(-90deg);
}

footer {
  text-align: center;
  padding-top: 40px;
}
