html {
  font-size: 62.5%;
}

header {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 0 10px 10px;
  background-color: #333;
}

header h1 {
  color: #fff;
}

main {
  height: calc(100vh - 30px);
  position: relative;
}

.mainVisualBox section h2 {
  font-size: 18rem;
  position: absolute;
  top: 0;
  bottom: 0;
  border: skyblue solid 10px;
  margin: auto;
}

/* footer {
  text-align: center;
  padding-top: 40px;
} */
